<table>
  <thead>
    <th [colSpan]="colls">Personaje</th>
  </thead>
  <tr>
    <td>
      <label>Nombre Completo: </label>
    </td>
    <td>
      {{getNombreCompleto()}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Nombre: </label>
    </td>
    <td>
      {{name}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Apellido: </label>
    </td>
    <td>
      {{surname}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Dirección: </label>
    </td>
    <td>
      {{direction}}
    </td>
  </tr>
  <tr>
    <td>
      <label>Edad: </label>
    </td>
    <td>
      {{age}}
    </td>
  </tr>

  <li *ngFor="let nickname of nicknames; let i">

    {{nickname}}
  </li>

  <button type="button" (click)="aumentarEdad()">Aumentar Edad</button>
  <button type="button" (click)="disminuirEdad()">Disminuir Edad</button>
</table>
